body {
  overflow-x: hidden;
}

#main-contener {
  margin: 0 auto;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding-top: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#svg_container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#wrapper.toggled #svg_container {
  position: absolute;
  top: 0px;
  left: -300px;
  z-index: -1;
}

.show-sidebar {
  margin-left: 20px;
}

#main-top-containner {
  z-index: 100;
}

#top-right-corner {
  visibility: hidden;
  pointer-events: none;
}

#line-plot-container {
  position: absolute;
  top: 800px;
  left: 300px;
  margin-top: 20px;
}

#wrapper.toggled #line-plot-container {
  position: absolute;
  top: 800px;
  left: 100px;
  margin-top: 20px;
}

.form-group {
  text-indent: 20px;
  line-height: 40px;
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-brand {
  margin-left: 10px;
  height: 65px;
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  text-align: left;
  color: #999999;
}

.sidebar-input input {
  width: 200px;
  height: 25px;
}

.sidebar-input select {
  height: 20px;
  width: 200px;
}

.sidebar-text {
  width: 140px;
  display: inline-block;
}
.sidebar-input {
  display: inline-block;
}

.submit {
  text-align: center;
}

.main-top-content {
  display: inline-block;
}

.show-prediction {
  float: right;
}

.btn-secondary {
  background-color: #B22222;
  color: white;
}

.btn-default {
  background-color: #e7e7e7;
  color: black;
}

.btn-default:hover {
    background-color: #4CAF50; /* Green */
    cursor:pointer;
    color: white;
}

.container-fluid
{
  padding-left: 0px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 400px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 400px;
  }
  #page-content-wrapper {
    padding-top: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
